*{
    margin: 0px;
    padding: opx;
    border-style: border-box;
}

#central-head {
    text-align: center;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
}

#navbar {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding: 0px 100px;
}

.menu-list {
    display: inline-block;
}

.menu-list a {
    padding: 20px 20px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-decoration: none;
}

#home-image {
    text-align: center;
    padding: 5px;
}

#home-item {
    display: flex;
    margin-bottom: 20px;
}

.home-logo {
    font-size: 50px;
    padding-left: 120px;
}


.lorem1class {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    color: green;
    height: 200px;
}

#product {
    margin: 100px 100px;
    display: flex;
}

.learn1 {
    margin-left:350px ;
    width: 130px;
    height: 50px;
    color: blue;
}

#product-page {
    display: flex;
}

.hthreeclass {
    display: flex;
    
}


.laptop1 {
    margin: 20px;
    background-color: rgb(204, 197, 197);
}

.loremh3 {
    padding: 20px;
}

.bigdetails {
    margin: 20px;
    text-align: center;
    background-color: rgb(203, 200, 200);
    color: green;
    
}


.de44 {
    padding: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 300;
}


.oldtelephone {
    text-align: center;
    margin-top: 10px;

}

#bigimage {
    width: 100%;
    margin-bottom:10px;

}

.bighand {
    padding: 20px;

}

.parentfolder{
    padding: 20px;
}

.imagee{
    padding: 10px;
}

.moveword{
    padding: 20px;
    color: rgb(145, 157, 145);

}

#contactus{
    display: flex;
}

#contact-list {
    width: 100%;
}